
.gender{
  width:1em;
  height: 1em;
}

.ant-layout-header{
  background-color: #fff;
}
.ant-anchor-link-title:only-child{
  text-align: left;
}
.ant-layout-content table{
  width: 100%;
}
.table_head{
  border-bottom:1px solid #b2b2b2;
}
